/* 
  --colText:#f0f9ff;
  --colLight1:#e0f2fe;
  --colLight2:#bae6fd;
  --colBlue1:#7dd3fc;
  --colBlue2:#38bdf8;
  --colBlue3:#0ea5e9;
  --colDark1: #0284c7;
  --colDark2:#075985;
  --colDark3:#0c4a6e;
  --colDark4:#082f49;
 */

 .footer{
  display: flex;
  align-items: center;
  justify-content: center;
 }

.content{
  height: 100vh;
}

 .container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.containerNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #bae6fd;
    padding: 2.5rem 4%;
}

.containerNavbar a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 25px;
}


@media (max-width:400px){

   .containerNavbar button{
    font-size: 12px;
    font-weight: 500;
   }

}

@media(max-width:800px){
    .containerNavbar a{
        font-size: 20px;
        font-weight: 400;
    }
}